@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';

.main-container{
	max-width: 1200px;
}

.header{
	font-size: 40px;
	color:red;
	background: #34435E;
	margin:0px;
	height: 62px;
	padding-left: 15px;
}


.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 58px;
    background-color: #8D8E8E;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */

}

.search-container{
	height: 48px;
	background: #BBBBBF;
}

.search-container input{
  	width: 100%;
  	max-width: 800px;
  	min-width: 200px;
  	padding: 6px;
  	margin-left: 6px;
  	border: none;
  	font-size: 17px;
}

/*adding a class to remove the bottom margin in the O-Mail header*/
h1.red.ui.header {
	margin-bottom: 0px;
	padding-top: 15px;

}

